---
import App from './App.jsx';
import Router from './Router.jsx'
import Footer from '../components/Footer.jsx';
---
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>리그오브레젠드 전적검색</title>
	<meta name="description" content="리그 오브 레젠드 전적 검색 op.gg">
	<meta name="keyword" content="롤 lol 리그오브레젠드 league of legends 전적 op.gg">
</head>
<body>
	<!-- <Router client:load /> -->
	<App client:load />
	<Footer/>
</body>
</html>
